@import url('https://css.gg/arrow-up-r.css');
@import url('https://css.gg/arrow-left-r.css');
@import url('https://css.gg/arrow-right-r.css');
@import url('https://css.gg/arrow-down-r.css');
@import url('https://css.gg/play-pause-r.css');
@import url('https://css.gg/play-button-r.css');

:root {
    --ggs: 2.5;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #001D3D;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#container {
  height: 90vw;
  width: 90vw;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas{
  background-color: black;
  border: 0.1rem solid #FFC300;
}
#controls {
  
  width: 200px;
  height: 200px;
}

button{
  background: #FFC300;
  border: none;
}
button:hover{
  background: black;
  color: #FFC300;
}
#flex{
  display:flex;
  justify-content: space-around;
  margin: 45px 0 45px 0;
}
.gg-play-pause-r{
  --ggs:2.5
}

@media screen and (orientation:landscape) {
  body {
    flex-direction: row;
  }
  #container {
    height: 90vh;
    width: 90vh;
    margin-top: 0;
    margin-left: 10vw;
  }
  #controls {
    margin: 0 0 0 5vw;
  }
}

