html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #001D3D;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
000814 - canvas bg
001D3D - body bg
003566 - button bg
FFC300 - button border bg
FFD60A - canvas border
*/
#container {
  height: 90vw;
  width: 90vw;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas{
  background-color: black;
  border: 0.1rem solid #FFC300;
}
#controls {
  margin-top: 5vw;
}

button{
  border: none;
  background-color: #FFD60A;
  height: 60px;
  width: 60px;
  margin: 12px;
  border-radius: 50%;
  background-repeat: no-repeat;
}

@media screen and (orientation:landscape) {
  body {
    flex-direction: row;
  }
  #container {
    height: 90vh;
    width: 90vh;
    margin-top: 0;
    margin-left: 10vw;
  }
  #controls {
    margin: 0 0 0 5vw;
  }
}
img{ display: none}
/* Control icons*/
#up {
  background-image: url("https://img.icons8.com/ios-glyphs/60/000000/up.png");
}
#left {
  background-image: url("https://img.icons8.com/ios-glyphs/60/000000/left.png");
}
#start {
  background-color:#FFC300;
  background-image: url("https://img.icons8.com/ios-glyphs/60/000000/rotate.png");
  border-radius: 25%;
}
#right {
  background-image: url("https://img.icons8.com/ios-glyphs/60/000000/right.png");
}
#down {
  background-image: url("https://img.icons8.com/ios-glyphs/60/000000/down.png");
}
